.card {
  min-width: 280px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .price {
    display: flex;
    gap: 2rem;

    h3 {
      font-size: 1.6rem;
    }
  }

  .image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:hover {
      span {
        opacity: 1;
      }
    }

    span {
      color: teal;
      background-color: #fff;
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 2;
      padding: 2px 5px;
      opacity: 0;
      transition: all .3s ease-in-out;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    .mainImage {
      z-index: 1;
    }
  }
}
