.card {
  height: 400px;
  min-width: 250px;
  max-width: 250px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.6rem;
  font-weight: bold;
  text-transform: uppercase;
}
